<div id="appContainer">
	<div class="row ImgUpload">
      <div class= "col-xs-10 col-xs-offset-2">
				<image-upload upload-image="ctrl.uploadImage" ></image-upload>
      </div>
		</div>
    <div class= "row">
        <div class= "col-xs-3 col-xs-offset-2">
        <image-list images="ctrl.imageData" on-click="ctrl.onClick"> Image list goes here</image-list>
        </div>
        <div class= "col-xs-7">
            <image-display display="ctrl.currentImage" select-rating="ctrl.selectfunc"> </image-display>
        </div>
    <div>

	<div>