#imageDisplay{
padding-top:50px;
}

#imagetable{
    padding-top:50px;
}
span{
    padding-left:30px;
}
.btnrat{

    
}
.forms{
    margin-left:10%;
}
.ImgUpload{
    margin-top:5%;
}
